.card {
  height: 150px;
  width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.image {
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.title-text{
  background: #d90429;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 1px;
}

.title-blur {
  backdrop-filter: blur(5px);
  transition: 0.3s linear;
}

.card:hover .title-blur {
  backdrop-filter: blur(0px);
}

.card:hover .title-text{
  transform:translateY(50px)
}

.characters-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  box-sizing: border-box;
  margin: 0;
}
