
.comics-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0 20px 0;
}

.comic-card{
  height: 275px;
  width: 400px;
  position:relative;
  display: flex;
  background: var(--blue);
  border-radius: 5px;
}

.cover-comic-card{
  position: absolute;
  height: 100%;
  width: 35%;
  left: 0;
}

.cover-image{
  height: 100%;
  width: 100%;
  border-radius: 5px 0 5px 5px;

}

.presentation-comic-card{
  position: absolute;
  right: 0;
  height: 100%;
  width: 65%;
  display: grid;
  grid-template-rows: 20% 80%; 
}

.presentation-header,  .presentation-section{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.presentation-header{
  background: var(--white);
  color: var(--blue);
}

.header-title{
  font-family: var(--title);
  color: var(--blue);
}

.presentation-section{
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section-description{
  font-family: var(--texts);
  color:var(--white);
  padding: 5px;
}


.presentation-section::-webkit-scrollbar{
  -webkit-appearance: none;
}

.presentation-section::-webkit-scrollbar:vertical {
  width:10px;
}

.presentation-section::-webkit-scrollbar-thumb{
  background-color: var(--grey);
  border-radius: 50px;
}





