*{
  box-sizing: border-box;
}

.navbar{
  background: var(--blue) ;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  padding: 0;
}



.logo{
  width: 50%;
  position: relative;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img{
  height: 100%;
  width: 100%;
  padding: 0 0 10px 0;
}


.menu-container{
  margin:0;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0 0 0;
  border-radius: 0 0 10px 10px;
}

.item{
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  margin: 10px;
  padding: 5px 10px;
  background: var(--blue);
  border:solid 1px rgba(5, 7, 26, 0.2);
  border-radius: 5px;
  position: relative;
  transition: all .4s;
  cursor: pointer;
}

.item:hover{
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.24);
}
