.container-title{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: var(--title);
  background-color: var(--light-red);
  width: 30%;
  height: 50px;
  color: var(--white);
  border-radius: 20px;
  border: solid 1px var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 625px){
  .title{
    width: 100%;
    font-size: 100%;
  }
}